name: Terraform

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Check Docker
      run: |
        echo "Checking Docker..."
        docker --version
        if [ $? -ne 0 ]; then
          echo "Docker is not installed or not found in PATH."
          exit 1
        fi

    - name: Check curl
      run: |
        echo "Checking curl..."
        curl --version
        if [ $? -ne 0 ]; then
          echo "curl is not installed or not found in PATH."
          exit 1
        fi

    - name: Start LocalStack
      run: |
        echo "Starting LocalStack..."
        docker run -d --name localstack -e SERVICES=s3 -p 4566:4566 localstack/localstack
        
    - name: List Docker containers
      run: docker ps -a

    - name: Wait for LocalStack to be ready
      run: |
        echo "Waiting for LocalStack to be ready..."
        until docker logs localstack 2>&1 | grep "Ready." >/dev/null; do
          echo "Waiting for LocalStack..."
          sleep 5
        done
        echo "LocalStack is ready!"

    - name: Set up Terraform
      run: |
        terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve
