name: Terraform

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Check Docker
      run: |
        echo "Checking Docker..."
        docker --version
        if [ $? -ne 0 ]; then
          echo "Docker is not installed or not found in PATH."
          exit 1
        fi

    - name: Check curl
      run: |
        echo "Checking curl..."
        curl --version
        if [ $? -ne 0 ]; then
          echo "curl is not installed or not found in PATH."
          exit 1
        fi

    - name: Start LocalStack
      run: |
        echo "Starting LocalStack..."
        docker run -d -e SERVICES=s3 -e DEFAULT_REGION=us-east-1 -p 4566:4566 localstack/localstack
        
    - name: Print LocalStack Logs
      run: |
          echo "Printing LocalStack logs for debugging..."
          docker logs localstack_main

    - name: Wait for LocalStack to be ready
      run: |
        echo "Waiting for LocalStack to be ready..."
        until curl -s http://localhost:4566/_localstack/health | grep "\"s3\": \"running\""; do
          echo "LocalStack is not ready yet. Sleeping for 5 seconds..."
          sleep 5
        done
        echo "LocalStack is ready."
    - name: Wait for LocalStack to be ready
      run: |
        echo "Waiting for LocalStack to be ready..."
        until curl -s http://localhost:4566/_localstack/health | grep "\"s3\": \"running\""; do
          echo "LocalStack is not ready yet. Sleeping for 5 seconds..."
          sleep 5
        done
        echo "LocalStack is ready."

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 0.14.0

    - name: Terraform Init
      run: terraform init

    - name: Terraform Validate
      run: terraform validate

    - name: Terraform Plan
      run: terraform plan

    - name: Terraform Apply
      if: github.ref == 'refs/heads/main' && github.event_name == 'push'
      run: terraform apply -auto-approve
      env:
        AWS_ACCESS_KEY_ID: test
        AWS_SECRET_ACCESS_KEY: test
